---
import Tag from "../Tag.astro";

interface Props {
	entryId: string;
	title: string;
	description: string;
	techStack: string;
	codeUrl?: string;
	class?: string;
}

const {
	entryId,
	title,
	description,
	techStack,
	codeUrl = "#",
	class: className = "",
} = Astro.props;
---

<article
	class:list={[
		"group hover:border-primary border-border-muted bg-main-light flex flex-col border p-5 font-mono transition-colors",
		className,
	]}>
	<div class="mb-6 flex items-start justify-between">
		<Tag text={entryId} />
	</div>
	<h3 class="text-content mb-3 text-lg leading-none font-black uppercase">
		{title}
	</h3>
	<div class="mb-6 flex h-full flex-col justify-between space-y-4">
		<div class="flex flex-1 gap-2 overflow-hidden text-xs leading-relaxed">
			<span class="text-primary font-bold">STATUS:</span>
			<p class="text-content-muted">
				{description}
			</p>
		</div>
		<div
			class="border-border text-content-muted border-t pt-2 text-[9px] tracking-tighter uppercase">
			{techStack}
		</div>
	</div>
	<div class="mt-auto flex items-center justify-between">
		<a
			class="dark:text-primary text-content text-[10px] font-black uppercase hover:underline"
			href={codeUrl}>[ VIEW_CODE ]</a
		>
	</div>
</article>
