---
import { EDUCATION } from "@/config";
import Icon from "astro-iconify";
import BaseContent from "./BaseContent.astro";
---

<BaseContent
	id="education"
	title="Education"
	background-text="Education"
	class="flex flex-col md:flex-row md:gap-x-16">
	<ol class="w-full space-y-12 overflow-hidden">
		{
			EDUCATION.map((edu) => (
				<li class="after:bg-primary relative flex-1 after:absolute after:-bottom-11 after:left-4 after:inline-block after:h-full after:w-0.5 after:content-[''] lg:after:left-5">
					<div class="flex w-full items-start font-medium">
						<span class="bg-primary mr-8 flex aspect-square h-8 w-8 items-center justify-center rounded-full border-2 border-transparent text-sm text-white lg:h-10 lg:w-10">
							<Icon name="mdi:education-outline" class="h-6 w-6 md:h-7 md:w-7" />
						</span>
						<div class="block w-full space-y-2">
							<div>
								<time class="text-sm/none font-medium">
									{edu.from} - {edu.to}
								</time>

								<h3 class="text-content mt-1 text-2xl font-bold">{edu.institute}</h3>
								<p class="mt-2 text-base">{edu.location}</p>
								<p class="text-base">{edu.course}</p>
							</div>
						</div>
					</div>
				</li>
			))
		}
	</ol>
</BaseContent>
