---
import Avatar from "@/components/Avatar.astro";
import BackgoundSquare from "@/components/BackgoundSquare.astro";
import BaseContent from "@/components/BaseContent.astro";
import Button from "@/components/Button.astro";
import Chips from "@/components/Chips.astro";
import Footer from "@/components/Footer.astro";
import LatestProject from "@/components/LatestProject.astro";
import Links from "@/components/Links.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import SiteHeading from "@/components/SiteHeading.astro";
import { EDUCATION, SITE, SKILLS } from "@/config";
import Layout from "@/layouts/layout.astro";
import Icon from "astro-iconify";
import { getCollection } from "astro:content";

const allProject = (await getCollection("projects")).sort(
	(a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

let latestProject =
	allProject.filter((project) => project.data.latest || false)[0] || allProject[0];

let newProjects = allProject.slice(0, 3).map((project) => project.data);
---

<Layout title="me" description={SITE.shortDescription}>
	<SiteHeading id="site-heading">
		<div class="md:max-w-3xl">
			<Button
				label="Open for work"
				url="/#contact"
				id="open-for-work"
				class="ring-offset-background focus-visible:ring-ring group animate-rainbow text-foreground before:animate-rainbow relative mb-4 inline-flex cursor-pointer items-center justify-center rounded-full border-0 bg-[length:200%] px-6 font-medium whitespace-nowrap transition-colors transition-transform duration-200 [border:calc(0.08*1rem)_solid_transparent] before:absolute before:bottom-[-20%] before:left-1/2 before:z-[0] before:h-[20%] before:w-[60%] before:-translate-x-1/2 before:[filter:blur(calc(0.8*1rem))] hover:scale-105 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50"
				icon-right="ri:arrow-right-line"
			/>
			<h1 class="mb-4 text-4xl font-bold capitalize md:text-6xl">I'm {SITE.author}</h1>
			<p class="mb-10 text-lg">
				{SITE.shortDescription}
			</p>
			<Links
				class="border-primary-content hover:bg-neutral hover:border-neutral hover:text-neutral-content text-content shadow-none"
			/>
		</div>
		<div class="mt-14 flex flex-col gap-y-2 md:mt-20">
			<p class="text-2xl font-medium">Latest Project</p>
			<LatestProject project={latestProject.data} />
		</div>
		<BackgoundSquare background-text="Portfolio" />
	</SiteHeading>
	<main class="mt-40 mb-20 min-h-screen w-full space-y-20 md:mt-44 md:space-y-24">
		<BaseContent
			id="me"
			title="About me"
			background-text="About me"
			icon-title="ri:compasses-2-line">
			<div class="flex flex-col gap-y-8 md:flex-row">
				<Avatar />
				<div class="space-y-4 md:text-lg">
					{SITE.description.map((desc) => <p>{desc}</p>)}
				</div>
			</div>
		</BaseContent>
		<BaseContent
			id="skills"
			title="Tech Stack"
			background-text="Tech Stack"
			icon-title="ri:code-s-slash-line">
			<div class="space-y-4">
				<div class="inline-flex w-full flex-wrap items-center gap-3 py-2">
					{SKILLS.map(({ name, icon }) => <Chips name={name} icon={icon} />)}
				</div>
			</div>
		</BaseContent>
		<BaseContent
			id="education"
			title="Education"
			background-text="Education"
			class="flex flex-col md:flex-row md:gap-x-16"
			icon-title="ri:school-line">
			<ol class="w-full space-y-12 overflow-hidden">
				{
					EDUCATION.map((edu) => (
						<li class="after:bg-primary relative flex-1 after:absolute after:-bottom-11 after:left-4 after:inline-block after:h-full after:w-0.5 after:content-[''] lg:after:left-5">
							<div class="flex w-full items-start font-medium">
								<span class="bg-primary mr-8 flex aspect-square h-8 w-8 items-center justify-center rounded-full border-2 border-transparent text-sm text-white lg:h-10 lg:w-10">
									<Icon name="mdi:education-outline" class="h-6 w-6 md:h-7 md:w-7" />
								</span>
								<div class="block w-full space-y-2">
									<div>
										<time class="text-sm/none font-medium">
											{edu.from} - {edu.to}
										</time>

										<h3 class="text-content mt-1 text-2xl font-bold">{edu.institute}</h3>
										<p class="mt-2 text-base">{edu.location}</p>
										<p class="text-base">{edu.course}</p>
									</div>
								</div>
							</div>
						</li>
					))
				}
			</ol>
		</BaseContent>
		<BaseContent
			id="project"
			title="Project"
			class="relative"
			background-text="Project"
			icon-title="ri:bnb-line">
			<div class="flex flex-col gap-8 md:grid md:grid-cols-2 lg:grid-cols-3">
				{newProjects && newProjects.map((project, index) => <ProjectCard project={project} />)}
			</div>
			<div class="mt-12 text-center">
				<a href="/projects" class="link text-primary/80 hover:text-primary"
					>Lihat semua proyek &rarr;</a
				>
			</div>
		</BaseContent>
		<Footer mail={SITE.email} />
	</main>
</Layout>
