---
import { LINKS, PROJECTS, SITE } from "@/config";
import BackgoundSquare from "./BackgoundSquare.astro";
import Button from "./Button.astro";
import Header from "./Header.astro";
import LatestProject from "./LatestProject.astro";

let latestProject = PROJECTS.filter((project) => project?.latest || false)[0] || PROJECTS[0];
---

<div id="site-heading" class="text-primary-content container max-w-7xl">
	<div class="h-full w-full">
		<Header />
		<div class="mt-6 md:mt-12">
			<div class="flex flex-col gap-y-4 md:max-w-3xl md:gap-y-6">
				<p class="flex items-end text-2xl font-medium md:text-4xl">Hello</p>
				<h1 class="text-4xl font-bold capitalize md:text-6xl">I'm {SITE.author}</h1>
				<div class="space-y-8 md:h-32">
					<p class="text-lg">
						{SITE.shortDercription}
					</p>

					<div class="sosial-links inline-flex gap-4 text-sm">
						{
							LINKS.map(({ label, url, icon, ...extra }) => (
								<Button
									label={label}
									url={url}
									icon={icon}
									class="border-primary-content hover:bg-neutral hover:border-neutral hover:text-neutral-content text-content shadow-none"
									{...extra}
								/>
							))
						}
					</div>
				</div>
			</div>

			<div class="mt-14 flex flex-col gap-y-2 md:mt-20">
				<p class="text-2xl font-medium">Latest Project</p>
				<LatestProject project={latestProject} />
			</div>
			<BackgoundSquare />
		</div>
	</div>
</div>
