---
import { Image } from "astro:assets";
import type { InferEntrySchema } from "astro:content";
import Badge from "./Badge.astro";
import Button from "./Button.astro";
import Card from "./Card.astro";
import CardContent from "./CardContent.astro";

interface Props {
	project: InferEntrySchema<"projects">;
	id: string;
}
const { project, id } = Astro.props;
---

<Card>
	<div class="relative aspect-video">
		<Image
			src={project.thumbnail}
			alt={project.title}
			class="w-full object-cover transition-transform hover:scale-105"
		/>
	</div>
	<CardContent>
		<a class="text-content truncate text-lg font-bold sm:text-xl" href={`/projects/${id}`}
			>{project.title}</a
		>te ProjectCard and Project pages)
		<div class="mt-2 inline-flex flex-wrap gap-2">
			{project.tags.map((tag) => <Badge>{tag}</Badge>)}
		</div>
		<p class="description mt-4 h-18 overflow-hidden">
			{project.description}
		</p>
		<div class="mt-4 inline-flex flex-wrap gap-2">
			<Button label="github" icon="mdi:github" href={project.url} target="_blank" />
		</div>
	</CardContent>
</Card>
