---
import { SITE_LOCALE } from "@/config";
import { languages, ui } from "@/i18n/ui";
import { getLangFromUrl, getLocalizedPath, useTranslation } from "@/i18n/utils";
import "@/styles/globals.css";
import SpeedInsights from "@vercel/speed-insights/astro";
import { SEO } from "astro-seo";
import { getImage } from "astro:assets";
import profilePicture from "../images/me.jpg";

interface Props {
	title?: string;
	class?: string;
	description?: string;
	image?: string;
}

interface languageAlternates {
	href: URL | string;
	hrefLang: string;
}

const defaultImage = await getImage({
	src: profilePicture,
	format: "webp",
	width: 800,
});

const { title, description, image = `${Astro.url.origin}${defaultImage.src}` } = Astro.props;
const { pathname } = Astro.url;

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
let languageAlternates: languageAlternates[] = [];
if (lang in ui) {
	languageAlternates = Object.entries(languages).map(([code, label]) => {
		return { hrefLang: code, href: `${Astro.url.origin}${getLocalizedPath(pathname, code)}` };
	});
}
---

<html lang={`${lang}`} class="scroll-smooth">
	<head>
		<SEO
			charset="UTF-8"
			title={title}
			titleDefault={t(SITE_LOCALE.title)}
			titleTemplate={t(SITE_LOCALE.title) + " - %s"}
			description={description}
			extend={{
				link: [{ rel: "icon", href: "/favicon.svg" }],
				meta: [{ name: "viewport", content: "width=device-width" }],
			}}
			openGraph={{
				basic: {
					title: t(SITE_LOCALE.title),
					type: "website",
					image: image,
				},
				optional: {
					description: description,
				},
			}}
			languageAlternates={languageAlternates}
		/>
		<slot name="head" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-D3JY72DTCB"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-D3JY72DTCB");
		</script>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<SpeedInsights />
	</head>
	<body>
		<slot />
	</body>
</html>
